<br />
<div class="alert alert-danger" 
	role="alert"
	*ngIf="hasError">
	Error at get data. Try again.
</div>
<div class="panel panel-success">
	<div class="panel-heading">
		Select a currency to be converted
	</div>
	<div class="panel-body text-center">
	  <form class="form-inline" #conversionForm="ngForm">
		<input 
			type="text" 
			name="value"
			class="form-control text-right"
			placeholder="0"
			[(ngModel)]="conversion.value"
			required>
		<select 
			name="currencySource"
			class="form-control"
			[(ngModel)]="conversion.currencySource"
			required>
			<option *ngFor="let currency of currencies" [value]="currency.abbreviation">
				{{ currency.abbreviation }} = {{ currency.description }}
			</option>
		</select>
		<span class="glyphicon glyphicon-arrow-right" 
			aria-hidden="true"></span>
		<select
			name="currencyDestination"
			class="form-control"
			[(ngModel)]="conversion.currencyDestination"
			required>
			<option *ngFor="let currency of currencies" [value]="currency.abbreviation">
				{{ currency.abbreviation }} = {{ currency.description }}
			</option>
		</select>
		<input 
			type="submit" 
			value="Convert"
			class="btn btn-success"
			(click)="convert()"
			[disabled]="!conversionForm.form.valid">
	  </form>
	 </div>
</div>